section.callouts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	& > * {
		flex: 1 0 50%;
	}	
}

div.call-left {
	position: relative;
	div.call-left-text {
		position: absolute;
		top: 25%;
		left: 56%;
		text-align: center;
		p {
			margin: 0;
			font-size: 3rem;
			line-height: 1;
			color: $greenblue;
			span {
				color: white;
			}
		}
		.bold {
			font-weight: 700;
			margin-bottom: 30px;
		}
		.btn {
			margin-right: 0;
		}
	}
}

div.call-right {
	position: relative;
	div.call-right-text {
		position: absolute;
		top: 20%;
		left: 46%;
		color: white;
		width: 50%;
		h2 {
			text-align: left;
			padding: 0;
		}
		h2::after {
			border-bottom: 1px solid white;
    		margin: 0;
    		width: 25%;
		}
		p {
			font-weight: 100;
		}
	}
}

div.call-right a.btn {
	display: none;
}

@media all and (max-width: 940px) {
	div.call-left div.call-left-text {
		left: 50%;
	}

	div.call-left div.call-left-text p {
		font-size: 2.5rem;
	}

	div.call-right div.call-right-text {
		top: 10%;
	}

	div.call-right div.call-right-text h2 {
		font-size: 2rem;
	}

	div.call-right div.call-right-text p {
		font-size: 1.4rem;
	}	
}

@media all and (max-width: 767px) {
	div.call-left div.call-left-text {
		left: 40%;
	}

	div.call-left div.call-left-text p {
		font-size: 2rem;
	}

	div.call-right div.call-right-text p {
		font-size: 1.2rem;
	}
}

@media all and (max-width: 480px) {
	section.callouts {
		flex-direction: column;
	}
	
	div.call-left div.call-left-text {
		left: 40%;
	}

	div.call-left div.call-left-text p {
		font-size: 3rem;
	}

	div.call-right div.call-right-text h2 {
		font-size: 2.5rem;
	}

	div.call-right div.call-right-text p {
		font-size: 1.4rem;
	}

	div.call-right div.call-right-text {
		top: 12%;
	}

	div.call-left img, div.call-right img {
		display: block;
	}

}

@media all and (max-width: 400px) {
	div.call-left div.call-left-text p {
		font-size: 2.2rem;
	}

	div.call-right p {
		display: none;
	}

	div.call-right a.btn {
		display: inline-block;
		margin-top: 20px;
	}
}




