$cyan: RGBA(76, 207, 224, 1);
$pink: RGBA(247, 29, 96, 1);
$orange: RGBA(248, 74, 21, 1);
$yellow: RGBA(252, 192, 44, 1);
$hotpink: RGBA(246, 23, 208, 1);
$flesh: RGBA(251, 171, 145, 1);
$green: RGBA(103, 188, 106, 1);
$canary: RGBA(255, 241, 118, 1);
$skyblue: #4DCFE4 ;
$neongreen: #B2FD5A ;
$yellow: #FDEF58 ;
$teal: #00F4D0 ;
$orange: #FEA000 ;
$darkblue: #661FFF ;
$red: #FF1746 ;
$lightblue:#81D5FA ;
$green:#66BB6A ;
$paleyellow:#FFF176 ;
$pink:#FF4181 ;
$magenta:#FE1F5E ;
$verylightblue:#B2EBF4 ;
$purple:#8E24AC ;
$grassgreen:#00E777 ;
$darkyellow:#FFC13A ;
$pinkpurple:#FC16D0 ;
$rose:#FFAB91 ;
$darkgreen:#9CCC66 ;
$burntorange:#E65100 ;
$lavender:#AB46BC ;
$bluepurple:#7E57C2 ;
$slimegreen: #C0CA33 ;
$brightpink:#FF329A ;
$gold:#FFB74E ;
$brightgreen:#EEFF41 ;
$greenblue: #186162;