header {
	position: relative;
	// background: url(../img/header.jpg) no-repeat;
	// background-size: 100%;
	// padding: 15% 0 20% 45%;
	img {
		width: 100%;
	}
}

.left-menu {
	position: absolute;
	top: 20px;
	left: 5%;
	a {
		float: left;
		font-size: 2rem;
		margin: 0 20px 0 0;
		color: white;
	}
	img {
		float: left;
	}
}

.burger {
	display: none;
}

.searchbar {
	position: absolute;
	top: 20px;
	right: 5%;
	input[type=text] {
		border: 0;
		margin-right: 10px;
		padding: 3px;
		float: left;
		background: 0;
	}
	.fa {
		float: left;
		color: white;
	}
}


nav {
	position: absolute;
	top: 80px;
	right: 5%;
	width: 100%;
}

nav li a {
	font-size: 1.3rem;
	float: right;
	color: white;
	display: inline-block;
	margin-left: 45px;
	transition: 0.2s;
}

nav li a:hover {
	color: $yellow;
}


.nav-close {
	display: none;
}


.header-text {
	position: absolute;
	top: 30%;
	left: 45%;
	width: 50%;
	h1 {
		color: white;
	}
	p {
		color: white;
		font-weight: 100;
		margin-bottom: 5%;
	}
	.btn {
		float: left;
	}
	.btn-red {
		margin-right: 30px;
	}
}

@media all and (max-width: 940px) {
	.header-text p {
		font-size: 1.4rem;
	}

	nav {
		top: 50px;
	}
}


@media all and (max-width: 767px) {
	.burger {
		display: block;
	}

	nav {
		position: fixed;
		top: 0;
		left: -30%;
		right: 0;
		height: 100vh;
		margin-left: 0;
		padding: 5%;
		background: $cyan;
		width: 30%;
		z-index: 9999;
		// box-shadow: 3px 0px 5px 0px rgba(0, 0, 0,0.1);
		
	}

	nav li a {
		float: none;
		color: white;
		margin-left: 0;
		margin-top: 30px;
		display: block;
	}

	nav li:first-child {
		margin-top: 60px;
	}


	nav li a:hover {
		color: $yellow;
	}

	a.nav-close {
		display: block;
		position: absolute;
		color: white;
		font-size: 2.5rem;
		transition: 0.2s;
	}

	.nav-close:hover {
		color: $yellow;
	}

	.header-text {
		top: 30%;
	}

	.header-text p {
		display: none;
	}

	.header-text a {
		margin-top: 30px;
	}

}

@media all and (max-width: 480px) {
	a.btn {
		margin-top: 20px;
	}

	.header-text .btn-red {
		margin-right: 8px;
	}
}

@media all and (max-width: 400px) {
	header {
		background: $cyan;
		height: 200px;
	}

	.hero {
		display: none;
	}

	.header-text {
		top: 42%;
		left: 20%;
		width: 100%;
		margin: 0 auto;
	}
}




