.hot-gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
}

div.hot-gal-item {
	max-width: 350px;
	margin-bottom: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 5px #666;
	position: relative;
	.desc {
		width: 100%;
		color: white;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
		padding: 15px 15px 12px;
		position: absolute;
		bottom: 53px;
		left: 0;
		p {
		margin: 0;
		font-size: 1.2rem;
		}
	}
	.desc:hover {
		text-decoration: underline;
	}
	.price {
		color: #666;
	}
	.cart {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px 15px;
	}
	.sale {
		position: absolute;
		top: 3%;
		right: 3%;
		width: 60px;
		height: 60px;
		background: $darkyellow;
		border-radius: 50%;
		color: white;
		p {
			margin: 0;
			padding-top: 20px;
			text-align: center;
		}
	}
}


// OFFER SECTION

section.offer {
	background: url(../img/newsletter-banner.jpg);
	padding: 30px;
	.offer-text {
		h2 {
			text-align: left;
			padding: 0;
			color: white;
			margin-bottom: 25px;
		}
		h2::after {
			border-bottom: 1px solid white;
    		margin: 0;
    		width: 15%;
		}
	}
}

section.offer form {
	input[type=text], input[type=email]  {
		width: 30%;
		background: none;
		padding: 10px 0;
		margin-right: 20px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid white;
		color: white;
	}
	input[type=text]::-webkit-input-placeholder, 
	input[type=email]::-webkit-input-placeholder {
		color: white;
	}
	input[type=submit] {
		font-size: 1.4rem;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 20px;
		margin-right: 5px;
		color: white;
		border-radius: 2px;
		border: none;
		box-shadow: 0px 1px 5px 0px #666;
		background: $red;
		transition: 0.2s;
	}
	input[type=submit]:hover {
		background: darken($red, 10%);
	}
}


// RED SHOES

div.red-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	& > * {
		flex: 1 0 50%;
	}
	img {
		width: 100%;
	}
	.red-text {
		padding: 0 3%;
	}
	.red-para {
		font-size: 2rem;
		line-height: 1.7;
		font-weight: 300;
		color: #888;
	}
	.colors {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 35%;
		margin: 30px 0;
		p {
			margin: 0;
		}
		.circle {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
		.red-circle {
			background: $red;
			transition: 0.2s;
		}
		.red-circle:hover {
			border: 3px solid darken($red, 20%);
		}
		.yellow-circle {
			background: $yellow;
			transition: 0.2s;
		}
		.yellow-circle:hover {
			border: 3px solid darken($yellow, 20%);
		}
		.green-circle {
			background: $green;
			transition: 0.2s;
		}
		.green-circle:hover {
			border: 3px solid darken($green, 20%);
		}
	}
}

// MAP SECTION

section.map {
	background: url(../img/map.jpg) left;
	padding: 30px 0;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		.map-box {
			width: 40%;
			background: $hotpink;
			padding: 20px;
			color: white;
			.map-details {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}

section.map .btn {
	display: none;
}

.map-box h2 {
	padding-top: 0;
}

.map-box h2::after {
	border-bottom: 1px solid white;
	width: 30%;
}

.map-box h3 {
	margin-bottom: 15px;
}

.map-box address, .map-box ul {
	font-weight: 300;
	line-height: 2;
	font-style: normal;
}

@media all and (max-width: 940px) {
	.hot-gallery {
		justify-content: space-around;
	}	

	section.red-shoes {
		padding-bottom: 50px;
	}

	section.map .wrapper .map-box .map-details {
		flex-direction: column;
	}
	
	.map-box {
		text-align: center;
	}

	.map-box address {
		margin-bottom: 30px;
	}	
}

@media all and (max-width: 767px) {
	.map-box h3 {
		margin-bottom: 5px;
	}	
}

@media all and (max-width: 480px) {
	section.offer {
		background: $darkyellow;
		.offer-text {
		h2 {
			text-align: center;
			}
		h2::after {
    		margin: 0 auto;
    		width: 25%;
			}
		}
	}

	section.offer form {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		input[type=text], input[type=email] {
			width: 100%;
			margin: 10px 0;
		}
		input[type=submit] {
			width: 30%;
			margin: 10px auto;
		}
	}

	div.red-box {
		flex-direction: column;
		.red-img {
			width: 50%;
			margin-bottom: 30px;
		}
	}

	div.red-text {
		text-align: center;
		.colors {
			margin: 20px auto 30px;
		}
	}

	div.red-text p {
		margin-top: 0;
	}

	section.map {
		background: none;
	}

	section.map .wrapper {
		justify-content: center;
		.map-box {
			width: 100%;
			.map-details {
				flex-direction: row;
			}
		}
	}

	section.map .btn {
		display: inline;
	}
}

@media all and (max-width: 400px) {
	.map-box address {
		margin-bottom: 10px;
	}	

	section.map .btn {
		display: inline-block;
		margin-bottom: 30px;
	}


}



