

.latest-gal {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

div.latest-gal-item {
	max-width: 250px;
	margin-bottom: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 5px #666;
	position: relative;
	.desc {
		width: 100%;
		color: white;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
		padding: 15px 15px 5px;
		position: absolute;
		bottom: 42px;
		left: 0;
		p {
		margin: 0;
		font-size: 1.2rem;
		}
	}
	.desc:hover {
		text-decoration: underline;
	}
	.price {
		color: #666;
	}
	.cart {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
	}
}

@media all and (max-width: 940px) {
	.latest-gal {
		justify-content: space-around;
	}

}


@media all and (max-width: 767px) {
	div.latest-gal-item {
		max-width: 225px;
	}
}

@media all and (max-width: 400px) {
	div.latest-gal-item {
		max-width: 250px;
	}
}



